<div class="form-group">
  <label class="col-lg-1 control-label">#x</label>
  <div class="col-lg-8">
    <input type="text" class="form-control">
  </div>
  <div class="col-lg-3">
    <a href="#" class="btn btn-default">View</a>
    <a href="#" class="btn btn-default">Edit</a>
    <a href="#" class="btn btn-danger">Delete</a>
  </div>
</div>
