<div class="row">
  <div class="col-md-10 col-md-offset-1 top30">

    <div class="panel panel-default">
      <div class="panel-body ">
        You have no pharmacy shops yet.
      </div>
    </div>

  </div>
</div>