<div class="top50">
  {% for pharmaciesRows in pharmacies|batch(4, '') %}
  <div class="row">

    {% for pharmacy in pharmaciesRows %}
    {% if pharmacy %}
      <div class="col-md-4">
          <a href="/pharmacy/{{ pharmacy._id }}">
          <div class="panel panel-default">
            <div class="panel-heading">{{ pharmacy.name }}</div>
            <div class="panel-body">
              {{ pharmacy.description }}
            </div>
          </div>
          </a>
      </div>
    {% endif %}
    {% endfor %}
  
  </div>
  {% endfor %}
</div>