{% extends "layout.html.twig" %}

{% set pageName = 'pharmacy-add' %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Manages my pharmacies</li>
  </ul>

  <div class="row top50">
    <div class="col-md-12">
      {% for pharmacy in pharmacies %}
        <div class="row">
          <a href="/manage-pharmacy/{{ pharmacy._id }}">{{ pharmacy.name }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}