{% extends "layout.html.twig" %}

{% set pageName = 'add-apteka' %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Add new apteka</li>
  </ul>

  <div class="row top50">
    <div class="col-md-8 col-md-offset-2">
      <form class="form-horizontal" method="POST" action="?">
        <fieldset>
          <legend>Add new apteka</legend>

          {% if alert|default(false) %}
          <div class="alert alert-dismissible alert-{{ alert }}">
            {{ alert_message }}
          </div>
          {% endif %}

          <input type="hidden" name="owner" value="{{ user.username }}" />

          <div class="form-group" class="required">
            <label class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="name" required="true" value="">
            </div>
          </div>

          <div class="form-group" class="required">
            <label class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              <textarea type="text" class="form-control" name="description" required="true"></textarea>
            </div>
          </div>

          <div class="form-group" class="required">
            <label class="col-lg-2 control-label">Address 1</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="address1" value="">
            </div>
          </div>

          <div class="form-group" class="required">
            <label class="col-lg-2 control-label">Address 2</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="address2" value="">
            </div>
          </div>

          <div class="form-group" class="required">
            <label class="col-lg-2 control-label">Address 3</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="address3" value="">
            </div>
          </div>

          <div class="form-group" class="required">
            <label class="col-lg-2 control-label">Address 4</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="address4" value="">
            </div>
          </div>

          <div class="form-group" class="required">
            <label class="col-lg-2 control-label">Country</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="country" value="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Photo</label>
            <div class="col-lg-10">
              <span class="btn btn-default btn-file">
                  Browse <input type="file">
              </span>
            </div>
          </div>

          <div class="form-group" class="required">
            <label class="col-lg-2 control-label">Phone1</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="phone1" value="">
            </div>
          </div>

          <div class="form-group" class="required">
            <label class="col-lg-2 control-label">Phone2</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="phone2" value="">
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}