{% extends "layout.html.twig" %}

{% set pageName = 'forgot' %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Change password (if forgot)</li>
  </ul>

  <div class="row top50">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-horizontal" method="POST" action="/forgot-step2">
        <fieldset>
          <legend>Change password</legend>

          <input type="hidden" name="username" value="{{ username }}" />

          <div class="form-group required">
            <label class="col-lg-3 control-label">Password</label>
            <div class="col-lg-9">
              <input type="password" class="form-control" placeholder="Password" name="password" required="true">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Confirm password</label>
            <div class="col-lg-9">
              <input type="password" class="form-control" placeholder="Password" required="true">
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}