<div class="panel panel-default">
  <div class="panel-heading">Apteka "{{ lipsum.word() }}"</div>
  <div class="panel-body">
    <img class="center-block" src="http://fakeimg.pl/230x100/">
    
    <p class="content top10">
      {{ lipsum.sentence() }}
    </p>

  </div>
  <div class="panel-footer">
    <p class="content top10">
      <span>Products <span class="badge">20</span></span>
    </p>
    <a href="/apteka/1" class="btn btn-default"><span class="glyphicon glyphicon-th-list"> Details</a>
  </div>
</div>