<div class="row">
  <div class="col-md-3">
    {% include 'landing/_item.html.twig' %}  
  </div>

  <div class="col-md-3">
    {% include 'landing/_item.html.twig' %}  
  </div>

  <div class="col-md-3">
    {% include 'landing/_item.html.twig' %}  
  </div>

  <div class="col-md-3">
    {% include 'landing/_item.html.twig' %}  
  </div>
</div>