{# <div class="form-group">
  <label class="col-lg-5 control-label">{{ lipsum.word() }}</label>
  <div class="col-lg-2">
    count: 5
  </div>
  <div class="col-lg-2">
    price: 55
  </div>
  <div class="col-lg-3">
    <a href="#" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Buy
    </a>

    <a href="#" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Order
    </a>
  </div>
</div>
#}

<tr>
  <td>#</td>
  <td>{{ lipsum.word() }}</td>
  <td>1</td>
  <td>20</td>
  <td>
    <a href="#" type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove
    </a>
  </td>
</tr>