<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Count</th>
      <th>Sum</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% include 'landing/tab-cart-item.html.twig' %}
    {% include 'landing/tab-cart-item.html.twig' %}
    {% include 'landing/tab-cart-item.html.twig' %}
    {% include 'landing/tab-cart-item.html.twig' %}
    {% include 'landing/tab-cart-item.html.twig' %}
    {% include 'landing/tab-cart-item.html.twig' %}
    {% include 'landing/tab-cart-item.html.twig' %}
    {% include 'landing/tab-cart-item.html.twig' %}
    {% include 'landing/tab-cart-item.html.twig' %}
    {% include 'landing/tab-cart-item.html.twig' %}
    {% include 'landing/tab-cart-item.html.twig' %}
  </tbody>
</table> 