<form class="form-horizontal" method="POST" action="/login">

  <br/>

  <div class="row">
    <div class="col-lg-12">
      
      {% include 'pharmacy-details/_tab_managers_item.html.twig' %}
      {% include 'pharmacy-details/_tab_managers_item.html.twig' %}
      {% include 'pharmacy-details/_tab_managers_item.html.twig' %}
      {% include 'pharmacy-details/_tab_managers_item.html.twig' %}

    </div>
  </div>

</form>