<br/>

{% if pharmacy.managers|default([])|length < 1 %}

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default">
        <div class="panel-body ">
          There are no managers in this pharmacy yet.
        </div>
      </div>

    </div>
  </div>

{% else %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Manager</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for manager in pharmacy.managers|default([]) %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ manager }}</td>
            <td>
              {% if userIsAdmin %}
                <a href="/pharmacy/{{ pharmacy._id }}/managers/{{ manager }}/remove" class="btn btn-danger">Delete</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endif %}
