<form class="form-horizontal" method="POST" action="/login">

  <div class="row top10">
    <div class="col-lg-12">
      
      {% if not pharmacy.products|default([])|length %}
        {% include 'pharmacy-details/_tab.products.empty.html.twig' %}
      {% else %}
        {% include 'pharmacy-details/_tab.products.list.html.twig' %}
      {% endif %}

    </div>
  </div>

</form>