{% extends "layout.html.twig" %}

{% set pageName = 'pharmacy-details' %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Pharmacy</li>
  </ul>

  <h1>Pharmacy "{{ lipsum.word() }}"</h1>

  <ul class="nav nav-tabs top15">
    <li class="active"><a href="#details" data-toggle="tab" aria-expanded="true">Details</a></li>
    <li class=""><a href="#managers" data-toggle="tab" aria-expanded="false">Managers</a></li>
    <li class=""><a href="#products" data-toggle="tab" aria-expanded="false">Products</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="details">
      {% include 'pharmacy-details/_tab_details.html.twig' %}
    </div>
    <div class="tab-pane fade" id="managers">
      {% include 'pharmacy-details/_tab_managers.html.twig' %}
    </div>
    <div class="tab-pane fade" id="products">
      {% include 'pharmacy-details/_tab_products.html.twig' %}
    </div>
  </div>

{% endblock %}