{% extends "layout.html.twig" %}

{% set pageName = 'add-apteka' %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Manages my aptekas</li>
  </ul>

  <div class="row top50">
    <div class="col-md-12">
      {% for apteka in aptekas %}
        <div class="row">
          <a href="/manage-apteka/{{ apteka._id }}">{{ apteka.name }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}