{% spaceless %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-globe
"></span> Pharmacy Shop</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      {% if not hideHeaderLeftMenu|default(false) %}
      <ul class="nav navbar-nav">
        <li {% if pageName == "landing" %}class="active"{% endif %}><a href="/">Home</a></li>

        {% if user|default(false) and userIsAdmin %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pharmacy <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/pharmacy/add">Add pharmacy</a></li>
            <li><a href="/pharmacy/manage">Manage pharmacies</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/users/add">Add user</a></li>
            <li><a href="/users/manage">Manage users</a></li>
          </ul>
        </li>
        {% endif %}

        <li {% if pageName == "faq" or pageName == "disclaimer" %}class="active"{% endif %}><a href="/faq">FAQ</a></li>
        <li {% if pageName == "disclaimer" %}class="active"{% endif %}><a href="/disclaimer">Disclaimer</a></li>
      </ul>
      {% endif %}
      
      <ul class="nav navbar-nav navbar-right">
        {% if user|default(false) %}
          <li><a href="/profile">My profile</a></li>
          <li><a href="/forgot/step2?username={{ user.username }}">Change password</a></li>
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>

  </div>
</nav>
{% endspaceless %}