<div class="form-group">
  <label class="col-lg-2 control-label">{{ lipsum.word() }}</label>
  <div class="col-lg-6">
    {{ lipsum.sentence() }}
  </div>
  <div class="col-lg-1">
    <input type="text" class="form-control" value="1" />
  </div>
  <div class="col-lg-3">
    <a href="#" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Buy
    </a>

    <a href="#" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Order
    </a>
  </div>
</div>
