{% extends "layout.html.twig" %}

{% set pageName = 'login' %}

{% block content %}

<br/><br/>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" method="POST" action="/login">
      <fieldset>
        <legend>Forgot your password?</legend>

        <div class="form-group" class="required">
          <label for="inputUsername" class="col-lg-2 control-label">Username</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputUsername" placeholder="username" required="true">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}